<section id='left_body_content' >
  <% cache "submenu/#{@page.root.id}/#{params[:locale]}" do %>
      <%= render "/refinery/submenu", :locals=> {} %>
  <% end %>

  <% cache "snippets/31/#{params[:locale]}" do %>
      <%= raw snippet_newsletter_header %>
  <% end %>

  <% cache "snippets/32/#{params[:locale]}" do %>
      <%= raw snippet_newsletter_body %>
  <% end %>
</section>
