@font-face {
  font-family: 'Bullet Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Bullet Regular'), local('Bullet-Regular.ttf'), stylesheet-url('fonts/Bullet-Regular.ttf') format('truetype');
}

