@font-face {
  font-family: 'Sans Culottes';
  font-style: normal;
  font-weight: 400;
  src: local('Sans Culottes'), local('SANSC.TTF'), stylesheet-url('fonts/SANSC.TTF') format('truetype');
}

@font-face {
  font-family: 'Bullet Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Bullet Regular'), local('Bullet-Regular.ttf'), stylesheet-url('fonts/Bullet-Regular.ttf') format('truetype');
}

